---
layout: default
---

<div class="post">
  <div class="posttitle">
    <h2>{{ page.title }}</h2>
    <strong>{{ page.date | date_to_long_string }}</strong>
  </div>
  {{ content }}
  {% unless page.tags == empty %}
    {% assign tags_list = page.tags %}
    <p class="tags">
      Tagged: {{ page.tags | join : ', ' }}
    </p>
  {% endunless %}
  <div class="sharing">
    <span class='st_facebook_large' displayText='Facebook'></span>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_linkedin_large' displayText='LinkedIn'></span>
    <span class='st_pinterest_large' displayText='Pinterest'></span>
  </div>
  <div id="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'kriscargile';
		var disqus_title = '{{ page.title }}'
		var disqus_identifier = '{{ page.url }}';
		var disqus_url = '{{ site.production_url }}{{ page.url }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>